html, body {
  margin: 0;
  padding: 0;
}

#parallax-container {
  overflow: hidden;
  height: 100vh; /* 视差滚动的高度 */
  position: relative;
}

#bg {
  background-image: url('../resource/images/magic_girls.png');
  background-size: auto;
  background-position: center;
  width: 100%; 
  height: 200%; /* 背景图像高度调整以改变移动速度 */
  position: absolute;
  top: 0; left: 0;
  z-index: -1;
}