@font-face {
    font-family: font_alfa;
    src: url('../resource/fonts/BONBO.ttf');
}

@font-face {
    font-family: font_bravo;
    src: url('../resource/fonts/Lucida Handwriting.ttf');
}

@font-face {
    font-family: font_charlie;
    src: url('../resource/fonts/方正黑体_GBK.ttf');
}

@font-face {
    font-family: font_delta;
    src: url('../resource/fonts/arial.ttf');
}

@font-face {
    font-family: font_echo;
    src: url('../resource/fonts/Sitka.ttc');
}
