.backGroundPicture {
    background-image: url('../resource/images/cqupt_gate.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*矩形框*/
.roundedRectangle {
    width: 0;   /*这个很奇怪，auto的效果和0一样，不知道手机端看怎么样*/
    height: 700px;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 20px;
    padding: 50%;   /*我也不知道这个参数拿来干嘛 但确实会影响*/
}

/*广义位置信息*/
.normal {
    position: absolute;
    z-index: 1;
    left: 110px;
}

.music {
    position: absolute;
    z-index: 1;
    left: 1020px;
    width: 350px;
    height: 320px;
    /*background-color: #c6d5ff;*/
}

.bottomStyle{
    width:48px;
    height:48px;
    position: absolute ;
    right: 15px;
}

/*中文姓名那一坨*/
#topTitle_cn {
    top: 55px;
}

/*英文名那一坨*/
#topTitle_en {
    top: 35px;
}

/*分割线*/
#hm {
    height: 5px;
    width: 1300px;
    background-color: #4885e8;
    top: 155px;
    left: 90px;
}

#rightSide {
    left: 1000px;
    height: 600px;
    width: 380px;
    top: 240px;
    background-color: #c6d5ff;;
}

#exp_intro {
    height: 40px;
    width: 5px;
    background-color: #4885e8;
    top: 190px;
}

#exp_intro_text {
    color: #4885e8;
    top: 175px;
    left: 130px;
}

#exp {
    top: 240px;
    height: 60px;
    width: 850px;
    left: 100px;
    background-color: #deacac;
}

#friend_intro {
    height: 40px;
    width: 5px;
    background-color: #c52f2b;
    top: 320px;
}

#friend_intro_text {
    color: #c52f2b;
    top: 305px;
    left: 130px;
}

#friend {
    top: 370px;
    height: 60px;
    width: 850px;
    left: 100px;
    /*background-color: #c57171;*/
}

#rubbish_intro {
    height: 40px;
    width: 5px;
    background-color: #69d533;
    top: 450px;
}

#rubbish_intro_text {
    color: #69d533;
    top: 435px;
    left: 130px;
}

#rubbish {
    top: 500px;
    height: 1400px;
    width: 850px;
    left: 100px;
    background-color: #64ff00;
}