@font-face {
    font-family: font_alfa;
    src: url('../resource/fonts/华康翩翩体W3-A.ttf');
}

@font-face {
    font-family: font_bravo;
    src: url('../resource/fonts/Lucida Handwriting.ttf');
}


.backGroundPicture {
    background-image: url('../resource/images/roast.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*矩形框*/
.roundedRectangle {
    width: auto;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 20px;
    padding: 50%;
}

/*广义位置信息*/
.normal {
    position: absolute;
    z-index: 1;
    left: 110px;
}

/*中文姓名那一坨*/
#topTitle_cn {
    top: 70px;
}

/*英文名那一坨*/
#topTitle_en {
    top: 50px;
}

/*分割线*/
#hm {
    height: 5px;
    width: 1300px;
    background-color: #4885e8;
    top: 170px;
    left: 90px;
}

#exp_intro {
    height: 40px;
    width: 5px;
    background-color: #4885e8;
    top: 190px;
}

#exp_intro_text {
    top: 175px;
    left: 130px;
}

#exp {
    top: 250px;
    height: 500px;
    width: 800px;
    left: 100px;
    background-color: #f5f2f2;
}

#rightSide {
    left: 1000px;
    height: 1000px;
    width: 380px;
    top: 250px;
    background-color: #c6d5ff;;
}