@font-face {
    font-family: font_alfa;
    src: url('../resource/fonts/华康翩翩体W3-A.ttf');
}

@font-face {
    font-family: font_bravo;
    src: url('../resource/fonts/Lucida Handwriting.ttf');
}

@font-face {
    font-family: font_charlie;
    src: url('../resource/fonts/方正黑体_GBK.ttf');
}

@font-face {
    font-family: font_delta;
    src: url('../resource/fonts/arial.ttf');
}

.backGroundPicture {
    background-image: url('../resource/images/roast.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*矩形框*/
.roundedRectangle {
    width: auto;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 20px;
    padding: 50%;   /*我也不知道这个参数拿来干嘛 但确实会影响*/
}

/*广义位置信息*/
.normal {
    position: absolute;
    z-index: 1;
    left: 110px;
}

.music {
    position: absolute;
    z-index: 1;
    left: 1020px;
    width: 350px;
    height: 320px;
    background-color: #c6d5ff;
}

.bottomStyle{
    width:50px;
    height:50px;
    position: absolute ;
    top:0;
    right: 0;
}

/*中文姓名那一坨*/
#topTitle_cn {
    top: 55px;
}

/*英文名那一坨*/
#topTitle_en {
    top: 35px;
}

/*分割线*/
#hm {
    height: 5px;
    width: 1300px;
    background-color: #4885e8;
    top: 155px;
    left: 90px;
}

#rightSide {
    left: 1000px;
    height: 700px;
    width: 380px;
    top: 240px;
    background-color: #c6d5ff;;
}

#exp_intro {
    height: 40px;
    width: 5px;
    background-color: #4885e8;
    top: 190px;
}

#exp_intro_text {
    color: #4885e8;
    top: 175px;
    left: 130px;
}

#exp {
    top: 240px;
    height: 300px;
    width: 850px;
    left: 100px;
    /*background-color: #deacac;*/
}

#friend_intro {
    height: 40px;
    width: 5px;
    background-color: #c52f2b;
    top: 560px;
}

#friend_intro_text {
    color: #c52f2b;
    top: 545px;
    left: 130px;
}

#friend {
    top: 610px;
    height: 1000px;
    width: 850px;
    left: 100px;
    /*background-color: #f5f2f2;*/
}